.panel-article-item {
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.2);
}

.panel-biblio-item {
    border: 1px solid lightgray;
    margin: 15px;
}

.collapse-btn {
    cursor: pointer;
}

.icon-biblio-item {
    background-color: #5d9cec;
}

.label-author {
    margin: 2px;
    background-color: #33AF90;
    color: white;
    font-size: medium;
    display: inline-block;
}

.label-author-light {
    margin: 2px;
    background-color: #d3d3d3;
    color: #656565;
    font-size: medium;
    display: inline-block;
}

.article-year {
    color: #1e983b;
    font-size: large;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.collapse-heading {
    font-size: x-large;
}

.filter-enabled-heading {
    color: #008000;
    font-weight: bold;
}

.filter-text-disabled {
    color: #696969;
}

.filter-text-enabled {
    color: #0055aa;
}

.filter-navbar {
    background-color: #277D68
}

.shared-author {
    background-color: #33AF90;
    color: white;
}

.article-header {
    background-color: #ECEBFF !important;
}

.biblio-item-selfcitation {
    background-color: #564aa3;
}

.panel-min-padding {
    padding: 1px 1px;
}

.article-header-info {
    padding: 10px 15px;
}

.show-article-info {
    background-color: #E2E1F2;
}

.show-article-info:hover {
    background-color: #CBCAE3;
    cursor: pointer;
}

.article-item-header {
    border-bottom: 2px solid #dde6e9;
    margin: 15px;
}

#search-btn {
    margin: 10px;
    font-size: large;
}

.articles-alert {
    background-color: #D8E2E6;
    font-size: x-large;
    color: #575C6E;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.29);
}

#filter-check-circle {
    color: #f47f7f;
}

.filter-well {
    padding: 0px;
    padding-left: 5px;
    margin: 5px;
    background-color: #EBEEF2;
}

#apply-filters {
    margin: 20px;
    font-size: large;
}

.filter-legend {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.large-text {
    font-size: large;
}

.no-padding {
    padding: 0px;
}

.no-top-padding {
    padding-top: 0px !important;
}

.no-bottom-padding {
    padding-bottom: 0px !important;
}

.biblio-info-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.chart-panel {
    height: 150px;
    padding: 0px;
}

.panel-hover {
    background-color: #E8E8E8;
    color: #C2C2C2;
    border-left: 2px solid #ADAEB3;
}

.col-tot-cit {
    background-color: #dde6e9;
    color: #3a3f51 !important;
}

.x-large-text {
    font-size: x-large;
}

.round-icon {
    margin: 3px;
    border: 1px solid lightslategray;
    padding: 12px;
    background-color: lightslategray;
    border-radius: 50%;
}

