<!-- START Off Sidebar (right)-->
<nav>
   <tabset justified="true" >
      <tab>
         <tab-heading>
            <em class="fa fa-filter fa-lg"></em>
         </tab-heading>
         <div ng-include="'app/views/myViews/filters-offsidebar.html'"></div>
      </tab>
      <tab>
         <tab-heading>
            <em class="fa fa-sort-alpha-asc fa-lg"></em>
         </tab-heading>
         <div ng-include="'app/views/myViews/orderby-offsidebar.html'"></div>
      </tab>
   </tabset>
</nav>
<!-- END Off Sidebar (right)-->