.panel-article-item {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.2);
}

.panel-biblio-item {
    border: 1px solid lightgray;
    margin: 15px;
}

.collapse-btn {
    cursor: pointer;
}

.icon-biblio-item {
    background-color: #5d9cec;
}

.label-author {
    margin: 2px;
    background-color: #33AF90;
    color: white;
    font-size: medium;
    display: inline-block;
}

.label-author-light {
    margin: 2px;
    background-color: #8bb8f1;
    color: white;
    font-size: medium;
    display: inline-block;
}

.article-year {
    color: #1e983b;
    font-size: x-large;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.collapse-heading {
    font-size: x-large;
}

#num-articles {
    color: #2F80E7;
}

.filter-enabled-heading {
    color: #008000;
    font-weight: bold;
}

.filter-text-disabled {
    color: #696969;
}

.filter-text-enabled {
    color: #0055aa;
}

.filter-navbar {
    background-color: #277D68
}

.shared-author {
    background-color: #33AF90;
    color: white;
}

.article-header {
    background-color: #ECEBFF !important;
}

.biblio-item-selfcitation {
    background-color: #564aa3;
}

.panel-min-padding {
    padding: 1px 1px;
}

.article-header-info {
    padding: 10px 15px;
}

.show-article-info {
    background-color: #E2E1F2;
}

.show-article-info:hover {
    background-color: #CBCAE3;
    cursor: pointer;
}

.article-item-header {
    border-bottom: 2px solid #dde6e9;
    margin: 15px;
}

#search-btn {
    margin: 10px;
    font-size: large;

}

.articles-alert {
    background-color: #D8E2E6;
    font-size: x-large;
    color: #575C6E;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.29);
}

#filter-check-circle {
    color: #f47f7f;
}

.filter-well {
    padding: 0px;
    padding-left: 5px;
    margin: 5px;
    background-color: #EBEEF2;
    height: 95% !important
}

.slimScrollDiv {
    height: 165px !important;
}

#apply-filters {
    margin: 10px;
    font-size: large;
}

.filter-legend {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: large;
}

.large-text {
    font-size: large;
}

.no-padding {
    padding: 0px;
}

.no-top-padding {
    padding-top: 0px !important;
}

.no-bottom-padding {
    padding-bottom: 0px !important;
}

.biblio-info-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.citing-info-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.citing-info-body>.row {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.chart-panel {
    height: 170px;
    padding: 0px;
}

.chart-panel-md {
    height: 220px;
    padding: 0px;
}

.chart-panel-lg {
    height: 250px;
    padding: 0px;
}

.chart-panel-xl {
    height: 350px;
    padding: 0px;
}


.panel-hover {
    height: 220px;
    background-color: #E4E7ED;
    color: #C2C2C2;
    border: 2px solid #ADAEB3;
    vertical-align: middle;
}

.col-tot-cit {
    background-color: #dde6e9;
    color: #3a3f51 !important;
}

.large-text {
    font-size: large;
}

.x-large-text {
    font-size: x-large;
}

.xx-large-text {
    font-size: xx-large;
}

.round-icon {
    margin: 3px;
    border: 1px solid lightslategray;
    padding: 12px;
    background-color: lightslategray;
    border-radius: 50%;
}

.biblio-round-icon {
    color: white;
    background-color: #3a3f51;
    border: 2px solid #3a3f51;
    padding: 6px;
    border-radius: 50%;
}

.biblio-info-body>.row {
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.citing-item-year {
    background-color: #243948;
    padding: 5px;
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.citing-item-panel {
    border: 1px solid lightgray;
}

.citing-item-selfcitation {
    background-color: #564aa3;
}

.citing-info-body {
    padding: 5px;
}

.citing-details-header {
    border-bottom: 1px solid #d3d3d3;
    margin: 10px;
}

.self-cit-badge {
    padding: 3px;
    color: #564aa3;
    background-color: white;
    font-size: x-large;
    font-weight: bold;
    border-radius: 25%;
    width: 30px;
    margin: 5px;
    margin-top: -2px;
}

.text-bold {
    font-weight: bold;
}

.filters-header {
    margin: 5px !important;
}

.author-label {
    text-align: left !important;
    display: block;
    margin: 5px;
    padding: 5px;
}

.author-remove:hover {
    font-size: larger;
    cursor: pointer;
}

.input-error {
    border-color: #f05050 !important;
    background-color:  #FFBDBD;
}

.input-error-text {
    font-size: 13px;
    color: #f05050;
}

.input-warning {
    border-color: #ff902b !important;
    background-color:  #FFDAB8;
    display: block;
}

.input-warning-text {
    font-size: 13px;
    color: #ff902b;
    display: block;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.content-wrapper > div.header-div {
    margin: -20px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
    color: #929292
}

.header-div li {
    font-size: large !important;
}

.pointer {
    cursor: pointer;
}

.self-cit {
    color: #564aa3;
    background-color: white;
    margin: 20px;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10%;
}

.breadcrumb-item {

}

.selectable-breadcrumb {
    color: #5d9cec;
}

.selectable-breadcrumb:hover {
    color: #3370BD;
    cursor: pointer;
    font-weight: bolder;

}

.breadcrumb-header {
    margin: 0px;
}

.explore-biblio:hover{
    font-size: 5em;
}

.biblio-item-more-info {

}

.label-author:hover, .label-author-light:hover {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.32);
}

.link-white {
    color: white;
}

.link-white:hover {
    color: #5d9cec;
}

.citing-item-footer {
    border-top: 1px solid #cfdbe2 !important
}

.btn-article {
    background-color: #2b957a;
    color: white;
}

.vol-info {
    color: #5d9cec;
}

.sort-by {
    margin-bottom: 5px;
    margin-top: 5px;
}

.logo-img {
    display: inline !important;
}

.motivations-div {
    margin-top: 10px;
    margin-left: 40px;
}

.abs-collapse {
    margin: 10px;
}

.emphasized-irp {
    color: #5d9cec;
    font-weight: bold;
    font-size: large;
}

.search-text-area {
    font-size: 25px;
}

#panelSearch {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.16);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.16);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.16);
}

#guide-icon {
    font-size: 18px !important;
}

.no-margin {
    margin: 0px;
}