<h3 class="animated fadeInDownBig">Bookmarks<span class="label label-purple" style="vertical-align: middle; font-size: 0.6em; margin-left: 10px">BETA</span></h3>

<div class="row"  align="center">
    <!--<div  class="well well-sm col-lg-4 col-md-8 col-centered" >-->
        <button ng-show="BookmarksCtrl.numBookmarks > 0" type="button" class="btn btn-labeled btn-warning" ng-click="BookmarksCtrl.removeAllBookmarks()" style="margin-bottom:  10px">
            <span class="btn-label"><i class="fa fa-warning"></i></span>Remove all bookmarks
        </button>
        <button ng-show="BookmarksCtrl.numBookmarks > 0" type="button" class="btn btn-labeled btn-warning" ng-click="BookmarksCtrl.removeAllBookmarks()" style="margin-bottom:  10px">
            <span class="btn-label"><i class="fa fa-warning"></i></span>Remove all bookmarks
        </button>
        <!--<button type="button" class="btn btn-labeled btn-green" ng-click="">-->
            <!--<span class="btn-label"><i class="icon-link"></i></span>Get custom link-->
        <!--</button>-->
    <!--</div>-->
</div>
<span ng-show="BookmarksCtrl.numBookmarks == 0" id="no-bookmarks">No bookmarks</span>
<div class="row">
    <article-item class="article-item" ng-repeat="bookmark in BookmarksCtrl.bookmarks"
                  article-data="bookmark"
                  article-index="{{$index + 1}}"
                  check-bookmark = "{value: false}">
    </article-item>
</div>