<div ng-controller="ArticlesOrderbyController as ArticlesOrderbyCtrl">
    <h2 class="text-center text-thin">Order by </h2>
    <div class="p row-centered">
        <div class="btn-group col col-centered">
            <label class="btn btn-primary" ng-model="CitationsOrderbyCtrl.sortV"  btn-radio="false"  ng-change="ArticlesOrderbyCtrl.applySort()" ><em class="fa fa-sort-amount-asc fa-lg"></em> asc</label>
            <label class="btn btn-primary" ng-model="CitationsOrderbyCtrl.sortV"  btn-radio="true" ng-change="ArticlesOrderbyCtrl.applySort()" ><em class="fa fa-sort-amount-desc fa-lg"></em> desc</label>
        </div>
    </div>

    <div class="p" >
        <div class="clearfix">
            <p class="pull-left">Year (default)</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="CitationsOrderbyCtrl.orderByV" ng-value="ArticlesOrderbyCtrl.publicationYear" ng-change="ArticlesOrderbyCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
        <div class="clearfix">
            <p class="pull-left">Title</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="CitationsOrderbyCtrl.orderByV" ng-value="ArticlesOrderbyCtrl.title" ng-change="ArticlesOrderbyCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
        <div class="clearfix">
            <p class="pull-left">Global Citations</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="CitationsOrderbyCtrl.orderByV" ng-value="ArticlesOrderbyCtrl.globalCitations" ng-change="ArticlesOrderbyCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
        <div class="clearfix">
            <p class="pull-left">Citations (by the article)</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="CitationsOrderbyCtrl.orderByV" ng-value="ArticlesOrderbyCtrl.totCitActs" ng-change="ArticlesOrderbyCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</div>
