<h2 class="text-center text-thin">Filters</h2>
<div class="p" ng-controller="BiblioFiltersController as biblioFilterCtrl">
    <legend>
        <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkYear}">Year</span>
        <label class="switch pull-right">
            <input type="checkbox"  ng-model="biblioFilterCtrl.checkYear" ng-change="biblioFilterCtrl.switchYearFilter()"/>
            <span></span>
        </label>
    </legend>
    <span ng-class="{'filter-text-disabled': !biblioFilterCtrl.checkYear, 'filter-text-enabled': biblioFilterCtrl.checkYear}">start from year: </span>
    <input ng-disabled="!biblioFilterCtrl.checkYear" type="number" ng-model="biblioFilterCtrl.publicationYearF" min="1900" max="2015"> <!-- todo: da correggere gli anni -->
    <button type="button" class="btn btn-oval btn-primary" ng-click="biblioFilterCtrl.applyFilters()">Applica</button>
</div>