<div ng-controller="BiblioFiltersController as biblioFilterCtrl">
    <h2 class="text-center text-thin">Order by </h2>
    <div class="p row-centered">
        <div class="btn-group col col-centered">
            <label class="btn btn-primary" ng-model="biblioFilterCtrl.sortV"  btn-radio="false"  ng-change="biblioFilterCtrl.applySort()" ><em class="fa fa-sort-amount-asc fa-lg"></em> asc</label>
            <label class="btn btn-primary" ng-model="biblioFilterCtrl.sortV"  btn-radio="true" ng-change="biblioFilterCtrl.applySort()" ><em class="fa fa-sort-amount-desc fa-lg"></em> desc</label>
        </div>
    </div>

    <div class="p" >
        <div class="clearfix">
            <p class="pull-left">Year (default)</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="biblioFilterCtrl.orderByV" ng-value="biblioFilterCtrl.publicationYear" ng-change="biblioFilterCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
        <div class="clearfix">
            <p class="pull-left">Title</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="biblioFilterCtrl.orderByV" ng-value="biblioFilterCtrl.title" ng-change="biblioFilterCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
        <div class="clearfix">
            <p class="pull-left">Global Citations</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="biblioFilterCtrl.orderByV" ng-value="biblioFilterCtrl.globalCitations" ng-change="biblioFilterCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>
        <div class="clearfix">
            <p class="pull-left">Citation Acts (internal)</p>
            <div class="pull-right">
                <label class="switch switch-lg">
                    <input type="radio" name="orderBySwitch" ng-model="biblioFilterCtrl.orderByV" ng-value="biblioFilterCtrl.totCitActs" ng-change="biblioFilterCtrl.applyOrderBy()"/>
                    <span></span>
                </label>
            </div>
        </div>


    </div>


    <h2 class="text-center text-thin">Filters</h2>
    <div class="p" >
        <div>
            <legend>
                <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkYear}">Year</span>
                <label class="switch pull-right">
                    <input type="checkbox"  ng-model="biblioFilterCtrl.checkYear" ng-change="biblioFilterCtrl.switchYearFilter()"/>
                    <span></span>
                </label>
            </legend>
            <span ng-class="{'filter-text-disabled': !biblioFilterCtrl.checkYear, 'filter-text-enabled': biblioFilterCtrl.checkYear}">start from year: </span>
            <input ng-disabled="!biblioFilterCtrl.checkYear" type="number" ng-model="biblioFilterCtrl.publicationYearV" min="1900" max="2015"> <!-- todo: da correggere gli anni -->
        </div>
        <div>
            <legend>
                <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkOnlySelfcitations}">Only self-citations</span>
                <label class="switch pull-right">
                    <input type="checkbox"  ng-model="biblioFilterCtrl.checkOnlySelfcitations" ng-change="biblioFilterCtrl.switchOnlySelfcitations()"/>
                    <span></span>
                </label>
            </legend>
        </div>

        <button type="button" class="btn btn-oval btn-primary" ng-click="biblioFilterCtrl.applyFilters()">Applica</button>
    </div>
</div>
