<div ng-controller="BiblioFiltersController as biblioFilterCtrl">
    <h3 class="text-center text-thin filters-header">Bibliography Filters</h3>
    <div class="p" >
        <div>
            <legend class="filter-legend">
                <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkYear}"><em tooltip="Enabling this filter, you can visualize only the cited articles with the publication year greater than or equal to the one inserted" tooltip-placement="right" tooltip-popup-delay="500" class="fa fa-info-circle"></em> Year </span>
                <label class="switch pull-right">
                    <input type="checkbox"  ng-model="biblioFilterCtrl.checkYear" ng-change="biblioFilterCtrl.switchYearFilter()" />
                    <span></span>
                </label>
            </legend>
            <div collapse="!biblioFilterCtrl.checkYear">
                <div class="input-group" >
                    <input placeholder="Year to start from" class="form-control" ng-disabled="!biblioFilterCtrl.checkYear" type="number" ng-model="biblioFilterCtrl.publicationYearV" min="1970" max="{{biblioFilterCtrl.year}}">
                 <span class="input-group-btn">
                    <button ng-disabled="!biblioFilterCtrl.checkYear" type="button" class="btn btn-default" ng-click="biblioFilterCtrl.applyYearFilter()">Set</button>
                 </span>
                </div>
            </div>

        </div>
        <div>
            <legend class="filter-legend">
                <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkOnlySelfcitations}"><em tooltip="Enabling this filter, only the self-citations will be displayed" tooltip-placement="right" tooltip-popup-delay="500" class="fa fa-info-circle"></em> Only self-citations </span>
                <label class="switch pull-right">
                    <input type="checkbox"  ng-model="biblioFilterCtrl.checkOnlySelfcitations" ng-change="biblioFilterCtrl.switchOnlySelfcitations()"/>
                    <span></span>
                </label>
            </legend>
        </div>
        <div>
            <legend class="filter-legend">
                <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkAuthors}"><em tooltip="enabling this filter, you can see only the cited articles written by the selected authors" tooltip-placement="right" tooltip-popup-delay="500" class="fa fa-info-circle"></em> Authors </span>
                <label class="switch pull-right">
                    <input type="checkbox"  ng-model="biblioFilterCtrl.checkAuthors" ng-change="biblioFilterCtrl.switchAuthors()"/>
                    <span></span>
                </label>
            </legend>
            <div collapse="!biblioFilterCtrl.checkAuthors">
                <div class="input-group">
                    <input ng-class="{'input-error': biblioFilterCtrl.inputNotValid, 'input-warning': biblioFilterCtrl.authorAlreadyInList}" placeholder="Type author name" type="text" ng-model="biblioFilterCtrl.selectedAuthor" typeahead-editable="false" typeahead-on-select="biblioFilterCtrl.onSelect($item, $model, $label)" typeahead="author for author in biblioFilterCtrl.allAuthors.value | filter:$viewValue | limitTo:8" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button"  class="btn btn-default" ng-click="biblioFilterCtrl.updateAuthorFilter()">Add</button>
                    </span>
                </div>
                <span class="input-error-text" ng-show="biblioFilterCtrl.inputNotValid">invalid input</span>
                <span class="input-warning-text" ng-show="biblioFilterCtrl.authorAlreadyInList">selected author is already in the list</span>

                <scrollable class="form-group well filter-well">
                    <div class="large-text label label-primary author-label" ng-repeat="author in biblioFilterCtrl.authorsV">
                        <em class="fa fa-times-circle author-remove" ng-click="biblioFilterCtrl.removeAuthorFromFilter(author)"></em>
                        <span>{{author}}</span>
                    </div>
                </scrollable>
            </div>
        </div>
        <div>
            <legend class="filter-legend">
                <span ng-class="{'filter-enabled-heading': biblioFilterCtrl.checkCharacterizations}"><em tooltip="Enabling this filter, you can see the cited articles according to the selected citation functions" tooltip-placement="right" tooltip-popup-delay="500" class="fa fa-info-circle"></em> Functions </span>
                <label class="switch pull-right">
                    <input type="checkbox"  ng-model="biblioFilterCtrl.checkCharacterizations" ng-change="biblioFilterCtrl.switchColorsFilter()"/>
                    <span></span>
                </label>
            </legend>
            <div collapse="!biblioFilterCtrl.checkCharacterizations">
                <div align="center">
                    <button type="button" ng-click="biblioFilterCtrl.setColorsAllChecked(true)" ng-disabled="!biblioFilterCtrl.checkCharacterizations" class="btn btn-primary btn-sm">Select all</button>
                    <button type="button" ng-click="biblioFilterCtrl.setColorsAllChecked(false)" ng-disabled="!biblioFilterCtrl.checkCharacterizations" class="btn btn-primary btn-sm">Deselect all</button>
                </div>

                <scrollable class="form-group well filter-well">
                    <div class="checkbox c-checkbox" ng-repeat="color in biblioFilterCtrl.characterizationsV">
                        <label>
                            <input type="checkbox" ng-model="color.checked" ng-checked="color.checked" ng-disabled="!biblioFilterCtrl.checkCharacterizations"  ng-value="color.valueURI" />
                            <span class="fa fa-check"></span>{{color.toString}}
                        </label>
                    </div>
                </scrollable>
            </div>
        </div>
    </div>
</div>
