<div id="article_{{articleIndex}}" class="panel panel-default panel-article-item " ng-class="{'whirl double-up': !articleData.authors}">
    <div class="panel-heading article-header panel-min-padding">
        <div class="article-header-info top-header-info">
            <div class="pull-left article-type">
                <span ng-if="articleData.type" >{{articleData.type}}</span>
            </div>
            <div class="pull-left article-vol">
                <span ng-if="availableIssue(articleData)" class="vol-info">vol. {{articleData.volumeNumber.value}} ({{articleData.issueNumber.value}})</span>
            </div>

            <span class="article-year-top-header">{{articleData.publicationYear}}</span>
            <div class="top-header-buttons-group">
                <div class="top-header-btn">
                    <span class="article-header-button" ng-click="getArticleLink()" tooltip="get article link" tooltip-placement="bottom" tooltip-popup-delay="500"><i class="icon-link icon-link-header-btn"></i></span>
                </div>
                <div class="top-header-btn">
                    <span tooltip="bookmark" tooltip-placement="bottom"  tooltip-popup-delay="500" ng-click="toggleBookmark(articleData)"   class="article-header-button" ><i ng-class="{'fa-bookmark-o': !articleData.bookmark, 'fa-bookmark bookmark-selected': articleData.bookmark}" class="fa fa-2x"></i></span>
                </div>
                <div class="top-header-btn">
                    <span class="article-header-button" tooltip="External link" tooltip-placement="bottom" tooltip-popup-delay="500"><a ng-href="{{articleData.htmlItem.value}}" target="_blank"><i class="fa fa-external-link fa-2x external-link"></i></a></span>
                </div>
            </div>

        </div>
        <div class="article-header-info">
            <span class="article-title">{{articleIndex}}. {{articleData.title}} </span>
            <div>
                <em tooltip="Authors"  tooltip-popup-delay="500" class="fa fa-users authors-icon biblio-round-icon"></em>
                <span tooltip="show author articles" class="label label-author pointer animated bounceIn" ng-repeat="author in articleData.authors" ng-click="exploreAuthor(author.givenName.value, author.familyName.value)">  {{author.givenName.value}} {{author.familyName.value}} </span>
            </div>
        </div>

        <div  tooltip="Show details"  tooltip-popup-delay="500" align="center" class="show-article-info" ng-click="toggleArticleDetails(articleData)">
            <i ng-class="{'fa fa-chevron-down fa-2x': articleIsCollapsed, 'fa fa-chevron-up fa-2x': !articleIsCollapsed}"></i>
        </div>
    </div>

    <div class="panel-body" collapse="articleIsCollapsed">
        <div class="row">
            <div class="col-lg-12">
                <!-- START panel-->
                <div id="abstract_{{articleIndex}}" class="panel panel-default" ng-init="isCollapsed = false">
                    <div class="panel-heading">
                        <span class="collapse-heading">Abstract</span>
                        <i class="pull-right collapse-btn" ng-click="isCollapsed = !isCollapsed" ng-class="{'fa fa-plus-square fa-2x': isCollapsed, 'fa fa-minus-square fa-2x': !isCollapsed}"></i>
                    </div>
                    <div class="panel-body" collapse="isCollapsed">
                        <div ng-show="!articleData.abstractTxt.value" class="alert alert-info col-lg-2 col-md-4 col-sm-4"><em class="icon-info"></em> Abstract not available</div>
                        <p>{{articleData.abstractTxt.value}}</p>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
        <div class="row">
            <h3 class="article-item-header"><em class="fa fa-file-text"></em><em class="fa fa-arrow-left"></em> Incoming Citations</h3>

            <div class="col-lg-5 col-md-6">
                <div class="panel widget bg-success">
                    <div class="row row-table">
                        <div class=" col-lg-3 col-xs-4 text-center bg-success-dark pv-lg">
                            <em class="icon-globe fa-3x"></em>
                        </div>
                        <div class="col-lg-9 col-xs-8 pv-lg">
                            <div class="h1 m0 text-bold">{{articleData.globalCountValue}}<span class="x-large-text"> Global Citations</span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="panel widget">
                    <div class="row row-table">
                        <div class="col-lg-2 col-xs-4 text-center bg-primary-dark pv-lg">
                            <em class="fa fa-quote-left fa-3x"></em>
                        </div>
                        <div class="col-lg-10 col-xs-8 bg-primary pv-lg row">
                            <div class="col-lg-10">
                                <span class="x-large-text text-bold"> Cited {{articleData.inCitActs}} times by {{articleData.inNumCites}} articles </span>
                            </div>
                            <div class="col-lg-2">
                                <span class="pull-right">
                                   <em ng-show="articleData.inCitActs > 0" ng-click="showCitDetails()" class="fa fa-chevron-circle-right fa-3x pointer"></em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-init="showBiblio = false">
            <h3 class="article-item-header"><em class="fa fa-file-text"></em><em class="fa fa-arrow-right"></em> Cited articles (in the dataset)
                (<span ng-show="articleData.biblioInfo.length > 0">{{filteredBiblioItems.length}}/</span>{{articleData.biblioInfo.length}} item<span ng-show="articleData.biblioInfo.length > 1">s</span>)
                <small ng-show="filteredBiblioItems.length < articleData.biblioInfo.length">* some articles are not shown because filters are applied</small>
            </h3>
            <div align="center">
                <button  ng-show="filteredBiblioItems.length > 0" type="button" ng-model="showBiblio" btn-checkbox="btn-checkbox" btn-checkbox-true=true btn-checkbox-false=false class="btn btn-primary btn-lg">
                    <span class="large-text" ng-show="!showBiblio">Show </span>
                    <span class="large-text" ng-show="showBiblio">Hide </span>
                    <span class="large-text">item</span><span class="large-text" ng-show="articleData.biblioInfo.length > 1">s</span>
                </button>
            </div>

            <biblio-item ng-show="showBiblio" ng-animate="'animate'" ng-repeat="biblioItem in filteredBiblioItems = (articleData.biblioInfo |
                                    afterYear:yearFilter.value |
                                    selfcitation:selfcitationFilter.value:selfcitationFilter.exclude |
                                    characterizations:characterizationsFilter.value |
                                    authors:authorsFilter.value:authorsFilter.enabled |
                                    orderBy:orderFilter.value:sortFilter.value )"
                         item-data="biblioItem"
                         chart-id="{{articleData.doi.value}}_chart{{$index}}"
                         citing-article-authors="articleData.authors"></biblio-item>
        </div>
    </div>

    <div class="panel-footer" collapse="articleIsCollapsed"><strong>doi:</strong>{{articleData.doi.value}}</div>
</div>