<h2 class="text-center">{{ngDialogData.articleData.title}}</h2>
<div class="citing-details-header">
    <h3>Semantic Lancet Project - Contacts</h3>
    <!-- START list group-->
    <div class="list-group mb0">
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">BEX developer</span>
            <em class="fa fa-fw fa-calendar mr"></em>Raffaele Giannella</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">4 minutes ago</span>
            <em class="fa fa-fw fa-comment mr"></em>Commented on a post</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">23 minutes ago</span>
            <em class="fa fa-fw fa-truck mr"></em>Order 392 shipped</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">46 minutes ago</span>
            <em class="fa fa-fw fa-money mr"></em>Invoice 653 has been paid</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">1 hour ago</span>
            <em class="fa fa-fw fa-user mr"></em>A new user has been added</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">2 hours ago</span>
            <em class="fa fa-fw fa-check mr"></em>Completed task: "pick up dry cleaning"</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">yesterday</span>
            <em class="fa fa-fw fa-globe mr"></em>Saved the world</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">two days ago</span>
            <em class="fa fa-fw fa-check mr"></em>Completed task: "fix error on sales page"</a>
        <a href="#" class="list-group-item">
            <span class="label label-purple pull-right">two days ago</span>
            <em class="fa fa-fw fa-check mr"></em>Completed task: "fix error on sales page"</a>
    </div>
    <!-- END list group-->

</div>