<div id="article_{{articleIndex}}" class="panel panel-default panel-article-item">
    <div class="panel-heading article-header panel-min-padding">
        <div class="article-header-info">
            <h3>{{articleIndex}}. {{articleData.title.value}} - <span class="article-year">{{articleData.publicationYear.value}}</span>
                <a class="btn btn-oval btn-primary" ng-href="{{articleData.htmlItem.value}}" target="_blank"><i class="fa fa-external-link"></i></a>
            </h3>

            <div>
                <em class="fa fa-users fa-2x biblio-round-icon"></em>
                <span class="label label-author" ng-repeat="author in articleData.authors">  {{author.givenName.value}} {{author.familyName.value}} </span>
            </div>
        </div>

        <div align="center" class="show-article-info" ng-click="toggleArticleDetails(articleData.expression.value)">
            <i ng-class="{'fa fa-chevron-down fa-2x': articleIsCollapsed, 'fa fa-chevron-up fa-2x': !articleIsCollapsed}"></i>
        </div>

    </div>

    <div class="panel-body" collapse="articleIsCollapsed">
        <div class="row">
            <div class="col-lg-12">
                <!-- START panel-->
                <div id="abstract_{{articleIndex}}" class="panel panel-default" ng-init="isCollapsed = false">
                    <div class="panel-heading">
                        <span class="collapse-heading">Abstract</span>
                        <i class="pull-right collapse-btn" ng-click="isCollapsed = !isCollapsed" ng-class="{'fa fa-plus-square fa-2x': isCollapsed, 'fa fa-minus-square fa-2x': !isCollapsed}"></i>
                    </div>
                    <div class="panel-body" collapse="isCollapsed">
                        <p>{{articleData.abstractTxt.value}}</p>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
        <div class="row">
            <h3 class="article-item-header">Incoming Citations</h3>

            <div class="panel widget col-lg-3 col-md-6">
                <div class="panel-body bg-success-dark text-center no-padding">
                    <h1>{{articleData.globalCountValue.value}}</h1>
                    <h3>Global Citations</h3>
                    <div class="mb-lg"></div>
                    <em class="icon-globe fa-2x" style="margin:10px"></em>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-1">
                                <em class="fa fa-quote-left fa-2x"></em>
                            </div>
                            <div class="col-lg-8 text-right">
                                <h2>{{articleData.inCitActs}} (unique= {{articleData.inNumCites}})</h2>
                                <h4 class="m0">Internal Citations</h4>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="panel-footer bg-gray-dark bt0 clearfix btn-block">
                        <span class="pull-left" >View Details</span>
                        <span class="pull-right">
                           <em ng-click="showCitDetails()" class="fa fa-chevron-circle-right fa-2x"></em>
                        </span>
                    </a>

                </div>
            </div>

        </div>
        <div class="row">
            <div id="{{generateDonutDivId(articleData.doi.value)}}" align="center" class="chart-panel-lg col-lg-6 col-md-12 col-sm-12">
                <div class="col-lg-12 no-padding panel-hover" ng-mouseover="renderCitDonutChart(articleData.citationsInfo)">
                    <h4>Hover with mouse or tap to load</h4>
                    <h2>Citations Chart</h2>
                    <em class="fa fa-pie-chart fa-4x"></em>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="{{generateStackedDivId(articleData.doi.value)}}" align="center" class="chart-panel-lg col-lg-6 col-md-12 col-sm-12">
                <div class="col-lg-12 no-padding panel-hover" ng-mouseover="renderCitStackedChart(articleData.citationsInfo)">
                    <h4>Hover with mouse or tap to load</h4>
                    <h2>Citations Chart</h2>
                    <em class="fa fa-pie-chart fa-4x"></em>
                </div>
            </div>
        </div>
        <div class="row" ng-init="showBiblio = false">
            <h3 class="article-item-header">Bibliography
                ({{articleData.biblioInfo.length}} item<span ng-show="articleData.biblioInfo.length > 1">s</span>)
            </h3>

            <div align="center">
                <button  ng-show="articleData.biblioInfo.length > 0" type="button" ng-model="showBiblio" btn-checkbox="btn-checkbox" btn-checkbox-true=true btn-checkbox-false=false class="btn btn-primary btn-lg">
                    <span ng-show="!showBiblio">Show </span>
                    <span ng-show="showBiblio">Hide </span>
                    item<span ng-show="articleData.biblioInfo.length > 1">s</span>
                </button>
            </div>

            <biblio-item ng-show="showBiblio"  ng-repeat="biblioItem in articleData.biblioInfo |
                                    afterYear:yearFilter.value |
                                    onlySelfcitation:onlySelfcitationFilter.value |
                                    characterizations:characterizationsFilter.value |
                                    orderBy:orderFilter.value:sortFilter.value"
                         item-data="biblioItem"
                         chart-id="{{articleData.doi.value}}_chart{{$index}}"
                         citing-article-authors="articleData.authors"></biblio-item>
        </div>
    </div>

    <div class="panel-footer" collapse="articleIsCollapsed"><strong>doi:</strong>{{articleData.doi.value}}</div>
</div>