<!-- START widget-->
<div class="panel widget panel-biblio-item">
    <div class="row row-table row-flush">
        <div class="col-xs-1 col-lg-1 bg-info text-center icon-biblio-item" ng-class="{'biblio-item-selfcitation': itemData.isSelfcitation }">
            <em ng-show="!itemData.isSelfcitation" class="fa icon-pencil fa-2x"></em>
            <em ng-show="itemData.isSelfcitation" class="fa icon-reload fa-2x"></em>
        </div>
        <div class="col-xs-11 col-lg-11">
            <div class="panel-body ">
                <div class="row">
                    <div class="col col-lg-10">
                        <h3 class="mt0">{{itemData.title}} - {{itemData.publicationYear}}</h3>
                        <div>
                            <em class="icon-user fa-2x"></em>
                            <span class="label label-author-light" ng-class="{'shared-author': isSharedAuthor(author) }" ng-repeat="author in itemData.authors">
                                <em class="fa fa-users" ng-show="isSharedAuthor(author)"></em>
                                {{author.givenName.value}} {{author.familyName.value}}
                            </span>
                        </div>

                        <a ng-href="{{ itemData.htmlItem.value}}" target="_blank"><i class="fa fa-external-link"></i> link</a>
                    </div>
                    <div class="col col-lg-2">
                        <div>
                            <h4>citation acts</h4>
                            <p>total citation acts: {{itemData.totCitActs}}</p>
                            <ul>
                                <li ng-repeat="citAct in itemData.citActsInfo">{{citAct.color}}: {{citAct.numCitActs}} </li>
                            </ul>
                        </div>
                        <div>
                            <h4>Global Citations: </h4>
                            {{itemData.globalCountValue}} ({{itemData.globalCountDate}})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END widget-->