<!-- START widget-->
<div class="panel widget">
    <div class="row row-table row-flush">
        <div class="col-xs-1 col-lg-1 bg-info text-center">
            <em class="fa fa-users fa-2x"></em>
        </div>
        <div class="col-xs-11 col-lg-11">
            <div class="panel-body ">
                <div class="row">
                    <h3 class="mt0">{{itemData.title}} - {{itemData.publicationYear}}</h3>
                    <div>
                        <h4>authors</h4>
                        <ul>
                            <li ng-repeat="author in itemData.authors">{{author.givenName.value}}  {{author.familyName.value}}</li>
                        </ul>
                    </div>
                    <div>
                        <h4>self-citation</h4>
                        <span> {{itemData.isSelfcitation}}</span>
                        <h4>shared authors</h4>
                        <ul>
                            <li ng-repeat="author in itemData.sharedAuthors">{{author}}</li>
                        </ul>
                    </div>
                    <div>
                        <h4>citation acts</h4>
                        <p>total citation acts: {{itemData.totCitActs}}</p>
                        <ul>
                            <li ng-repeat="citAct in itemData.citActsInfo">{{citAct.color}}: {{citAct.numCitActs}} </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Global Citations: </h4>
                        {{itemData.globalCountValue}} ({{itemData.globalCountDate}})
                    </div>
                    <a ng-href="{{ itemData.htmlItem.value}}" target="_blank"><i class="fa fa-external-link"></i> link</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END widget-->