<div class="panel widget citing-item-panel">
    <div class="citing-item-year" align="center" ng-class="{'citing-item-selfcitation': itemData.isSelfcitation }">
        <div tooltip="Self-citation" tooltip-placement="bottom" ng-show="itemData.isSelfcitation" class="self-cit-badge pull-left"> S </div>
        <span class="large-text">{{itemData.title.value}} - {{itemData.publicationYear}} </span>
        <a ng-href="{{ itemData.htmlItem.value}}" target="_blank"><i class="fa fa-external-link link-white pull-right"></i></a>
    </div>
    <div class="citing-info-body" ng-init="showAbstract = false">
        <div class="row">
            <em class="fa fa-users biblio-round-icon fa-2x"></em>
            <span class="label label-author-light pointer" ng-class="{'shared-author': isSharedAuthor(author) }" ng-repeat="author in itemData.authors" ng-click="exploreAuthor(author.givenName.value, author.familyName.value)">
            {{author.givenName.value}} {{author.familyName.value}}
            </span>
        </div>
        <div class="row">
            <em class="fa fa-question-circle fa-4x"></em>
            <span class="x-large-text text-bold">Motivations for citation: </span>
            <span ng-repeat="color in itemData.colors"> {{color}} </span>
        </div>

        <!-- START panel-->
        <div class="row" align="center">
            <div class="panel panel-default col-lg-8 col-md-10 col-sm-12 col-centered" ng-init="isCollapsed = true">
                <div class="panel-heading" align="center">
                    <span class="collapse-heading">Abstract</span>
                    <i class="pull-right collapse-btn" ng-click="isCollapsed = !isCollapsed" ng-class="{'fa fa-plus-square fa-2x': isCollapsed, 'fa fa-minus-square fa-2x': !isCollapsed}"></i>
                </div>
                <div class="panel-body" collapse="isCollapsed">
                    <p>{{itemData.abstractTxt.value}}</p>
                </div>
            </div>
        </div>
        <!-- END panel-->

    </div>
    <div class="panel-footer bg-gray-lighter bt0 clearfix btn-block citing-item-footer" align="center">
        <button ng-click="exploreCitingItem()" type="button" class="btn btn-labeled btn-article"><span class="large-text">Go to article</span>
               <span class="btn-label btn-label-right"><i class="fa fa-arrow-circle-o-right fa-2x"></i>
               </span>
        </button>
    </div>
</div>