<h2 class="text-center">{{ngDialogData.articleData.title}}</h2>
<div class="citing-details-header">
    <h3>Overview on incoming citations</h3>
</div>

<div class="row">
    <div class="col-lg-6">
        <!-- START panel-->
        <div id="donutPanel" class="panel panel-default">
            <div class="panel-heading"><h4>Citation functions</h4></div>
            <div class="panel-body">
                <div id="donut_chart" align="center" class="chart-panel-lg"></div>
            </div>
        </div>
        <!-- END panel-->
    </div>
    <div class="col-lg-6">
        <!-- START panel-->
        <div id="stackedPanel" class="panel panel-default">
            <div class="panel-heading"><h4>Citation functions yearly</h4></div>
            <div class="panel-body">
                <div id="stacked_chart" align="center" class="chart-panel-lg"></div>
            </div>
        </div>
        <!-- END panel-->
    </div>


</div>

<div class="citing-details-header">
    <h3><em class="fa fa-file-text"></em><em class="fa fa-arrow-left"></em> Cited by (in the dataset)</h3>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" ng-repeat="citingItem in ngDialogData.articleData.citingArticles">
        <citing-item item-data="citingItem" cited-article-authors="ngDialogData.articleData.authors" ></citing-item>
    </div>
</div>